
    <footer
      class="row footer "
    >
      <div class="col-lg-3 .col-sm-1">
        <a
          class="d-flex align-items-center mb-3 link-dark text-decoration-none"
        >
          <img src="image\lab logo white.svg" class="logo_white"></img>
        </a>
        <h5 class="footer-h5">Linguistics <br>Department</h5>
        <p class="whitetext">B-06 Morrill Hall,<br>
          Cornell University,<br>
          Ithaca, New York, 14850</p>
        <p class="copyright">&copy; 2022</p>
      </div>
      <div class="col-1"></div>
      <div class="col-lg-3 .col-sm-1">
        <h5 class="footer-h5">Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item-footer mb-2">
            <a href="https://github.com/haparici" class="nav-link-footer p-0"><i class="bi bi-github"></i> Github</a>
          </li>
          <li class="nav-item-footer mb-2">
            <a href="mailto:haparicio@cornell.edu" class="nav-link-footer p-0"><i class="bi bi-envelope-fill"></i> Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 .col-sm-1">
        <h5 class="footer-h5">Members Only Access</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="https://cornell.app.box.com/folder/181497953962" class="nav-link-footer p-0">Document</a>
          </li>
        </ul>
      </div>
    </footer>

  <div class="b-example-divider"></div>
  